
/* Your CSS Code here. */
#button-3.btn.btn-success {
    background-color: green;
    /* Other customizations */
}
#button-6.btn.btn-info {
    background-color: info;
    /* Other customizations */
}
#button-5.btn.btn-warning {
    background-color: warning;
    /* Other customizations */
}